#jinja2: lstrip_blocks: True
---
version: "3"

services:
  default:
    image: "{{ pihole_image }}"
    restart: unless-stopped
    {% if host %}
    network_mode: host
    {% endif %}
    network_mode: host
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 67:67/udp
      - 80:80/tcp
      - 443:443/tcp
    environment:
      {% for key, value in pihole_env.items() %}
      {{ key }}: "{{ value }}"
      {% endfor %}
    volumes:
      - default:/etc/pihole/
      - dnsmasq:/etc/dnsmasq.d/
    dns:
      - 127.0.0.1
    {% if pihole_env.DNS1 %}
      - {{ pihole_env.DNS1 }}
    {% endif %}
    cap_add:
      - NET_ADMIN

volumes:
  default:
  dnsmasq:
